.navUl {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1em;
    position: fixed;
    background-color: rgb(255, 235, 203);
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    
  }
  
  .selected > a {
    background: #3A10E5;
    color: #FFFAE5;
  }

  .button{

  }
  
  .logo {
    padding: 0.4rem 1.125rem;
    border-radius: 0.5rem;
    font-weight: 500;
    display: inline-block;
    font-family: inherit;
    font-size: 2rem;
    margin-right: 0.5rem;
    color: orange;

  }
  